{% extends "base.html" %}

{% block title %}Discussion{% endblock %}

{% block content %}
<div class="card text-bg-light border-primary row col-8 m-3 mx-5">
    <div class="card-header text-body-secondary">
        {{ case_study.title }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ case_study.description }}</p>
        <a href="{{ url_for('take_quiz', id=case_study.id) }}" class="btn btn-secondary">Passer un quiz</a>
    </div>
    <div class="card-footer text-body-secondary">
        Ajouté le {{ case_study.date_posted.strftime('%Y-%m-%d') }} par {{ case_study.author }} dans <strong>{{
            case_study.tag }}</strong>
    </div>
</div>
<hr class="bg-dark border-2 border-top border-dark" />
{% for comment in comments %}
<div class="card text-bg-light row col-8 m-3 mx-5">
    <div class="card-header text-body-secondary">
        {{ comment.author_name.username }} le {{ comment.timestamp.strftime('%Y-%m-%d') }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ comment.content }}</p>
    </div>
</div>
{% endfor %}

<div class="card text-bg-light border-dark row col-8 m-3 mx-5">
    <div class="card-header text-body-secondary">
        Ajouter un Commentaire
    </div>
    <div class="card-body">
        <form action="{{ url_for('create_comment', id=case_study.id) }}" method="post" enctype="multipart/form-data"
            novalidate>
            <fieldset>
                {{ comment_form.hidden_tag() }}

                {{ comment_form.content(class='form-control') }}

                <label></label>
                {{ comment_form.submit(class='form-control') }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
