{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="card col-5 m-5 justify-content-center text-bg-light border-dark">
        <div class="card-body">
            <h5 class="card-title">Connexion</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Bienvenue sur
                Centrale de Cas, votre catalyseur d'innovation.</h6>
            <div class="card-text">
                Plongez au cœur de
                recherches enrichissantes et laissez-vous guider vers des solutions
                pragmatiques et des décisions éclairées à travers nos analyses
                détaillées.
            </div>
            <hr>
            <form action="" method="post" novalidate>
                <fieldset>
                    {{ form.hidden_tag() }}

                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}

                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class='form-control') }}

                    <label></label>
                    {{ form.submit(class='form-control') }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
