{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="card col-5 m-5 justify-content-center text-bg-light border-dark">
        <div id="container" class="card-body">
            <h5 id="haut" class="card-title">Quiz à 10 questions</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ case_study.title }}</h6>

            <div id="guide">
                <ul>
                    <li>Vous avez 15 secondes pour chaque question.</li>
                    <li>Une fois que vous avez sélectionné votre réponse, elle ne peut pas être
                        annulée.
                    </li>
                    <li>Vous obtiendrez des points sur la base de vos réponses correctes.</li>
                </ul>
                <button class="btn btn-secondary" id="start">Démarrer le quiz</button>
            </div>

            <div id="quiz" style="display:none;">
                <div id="quiz_header">
                    <div id="timer">
                        <h6>Temps restant : <span id="time">15</span></h6>
                    </div>
                </div>

                <h4 id="question">
                    <span id="questionNo">
                    </span>
                    <span id="questionText">
                    </span>
                </h4>

                <div id="optionList">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-outline-primary row choice_que" id="option1"></button>
                        <button class="btn btn-outline-primary row choice_que" id="option2"></button>
                        <button class="btn btn-outline-primary row choice_que" id="option3"></button>
                        <button class="btn btn-outline-primary row choice_que" id="option4"></button>
                    </div>
                </div>
            </div>

            <div id="result" style="display:none;">
                <h6>Vous avez terminé le quiz !</h6>
                <h6 id="points">Votre score est de : ??? sur 10</h6>
                <h5>Merci d'avoir participé à ce quiz.</h5>
                <button class="btn btn-secondary m-1" id="startAgain">Recommencer</button>
                <a class="btn btn-secondary row m-1" href="{{ url_for('case_study', id=id) }}">Retourner</a>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('quiz_questions', id=id) }}"></script>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}
